<div class="row">
    <h2>Experiencia Laboral</h2>
    <div class="col-lg-1"></div>
    <div  class="col-lg-offset-1  col-lg-11 " >
        <ul>
            <li>
                <h3> Primer trabajo</h3> - <h3>year</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas necessitatibus, laboriosam maxime modi qui ipsa nesciunt, eligendi minima velit enim voluptatibus odio fugit architecto accusantium quidem repellendus totam, ut ducimus.</p>
        </ul>

        <ul>
            <li>
                <h3> 2do trabajo</h3> - <h3>year</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas necessitatibus, laboriosam maxime modi qui ipsa nesciunt, eligendi minima velit enim voluptatibus odio fugit architecto accusantium quidem repellendus totam, ut ducimus.</p>
        </ul>

        <ul>
            <li>
                <h3> 3er trabajo</h3> - <h3>year</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas necessitatibus, laboriosam maxime modi qui ipsa nesciunt, eligendi minima velit enim voluptatibus odio fugit architecto accusantium quidem repellendus totam, ut ducimus.</p>
        </ul>
    </div>
</div>