<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="assets/asdf.jpg" id="fotoperfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"></p>
        <p id="stack">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, aliquam mollitia voluptas quia dignissimos excepturi suscipit, eum incidunt possimus omnis facilis ratione atque error vel fuga ipsa quasi debitis nesciunt.</p>
        </span>
    </div>
</div>


